@media (min-width: 992px) {
    .nav-link {
        border-bottom: 3px solid transparent;
    }
    .nav-link:hover {
        border-bottom-color: black;
    }
}
.navbar-brand {
    padding-top: 0;
}
