@media (max-width: 480px) {
    .table {
        font-size: 0.825rem;
    }
}

@media (max-width: 360px) {
    .table {
        font-size: 0.725rem;
    }
}


.table {
    text-align: center;
    vertical-align: middle;
}

col:nth-child(1) {
    width: 20%;
}

col:nth-child(2) {
    width: 10%;
}

col:nth-child(3) {
    width: 20%;
}

col:nth-child(4) {
    width: 20%;
}

.name_zone {
    width: 60%;
}

.date_zone {
    width: 15%;
}

.time_zone {
    width: 15%;
}

.delete_zone {
    width: 10%;
    color: red;
}